
body {
  font-family: Arial;
  background: white;
  margin: 0;
  padding: 0;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}


.product {
  background:white;
  border-radius: 8px;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}


.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}


.product h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: black;
}

.product .price {
  color: gray;
  font-weight: bold;
}

